.App {
  text-align: center;
}


#loading {
  background: url('../public/logo512.png') no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  #loading {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}